<h1>Hello new member</h1>

Thanks for registering! To confirm your registration click the URL below.



<%= "https://findahobbybuddy.herokuapp.com//users/#{User.last.id}/edit?token=#{User.last.confirm_token}"%>


